<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Activate your account</title>

    <style>
      * {
        margin: 0;
        padding: 0;
      }

      body,
      html {
        height: 100%;
        width: 100%;
        font-family: sans-serif;
      }
      main {
        padding: 48px 0;
        min-height: 100%;
        min-width: 100%;
        background-color: rgba(55, 185, 55, 0.1);
        display: flex;
        justify-content: center;
        align-items: center;
      }

      h2 {
        color: #333;
      }

      p {
        color: #444;
        line-height: 1.55;
      }

      .container {
        padding: 8px;
        text-align: center;
        max-width: 580px;
      }

      .mail {
        width: 64px;
        height: 64px;
        color: hsl(141, 55%, 17%);
      }

      .content {
        background-color: #fff;
        padding: 32px;
        border-radius: 9px;

        display: flex;
        flex-direction: column;
        align-items: center;

        gap: 16px;

        box-shadow: 0 0 24px 16px rgba(0, 0, 0, 0.02);
      }

      @media screen and (max-width: 480px) {
        .content {
          padding: 8px;
        }

        .btn {
          padding: 8px 16px;
        }
      }

      .btn {
        text-decoration: none;
        padding: 12px 24px;
        background-color: hsl(141, 55%, 17%);
        color: #fff;
        font-family: inherit;
        border-radius: 5px;
        margin-top: 16px;
      }

      .additional-info {
        color: #666;
        margin: 24px 0;
      }

      .thanks {
        color: #444;
        text-align: center;

        font-weight: 500;
        line-height: 1.6;
      }

      .logo {
        text-decoration: none;
        font-size: 18px;
        font-weight: 600;
        color: #333;
      }

      .logo span {
        color: hsl(140, 77%, 32%);
      }

      .logo-box {
        text-align: center;
        margin-bottom: 24px;
      }
    </style>
  </head>

  <body>
    <main>
      <div class="container">
        <div class="logo-box">
          <a href="#" class="logo"> case<span>cobra</span> </a>
        </div>
        <div class="content">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 24 24"
            stroke-width="1.5"
            stroke="currentColor"
            class="mail"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              d="M21.75 9v.906a2.25 2.25 0 0 1-1.183 1.981l-6.478 3.488M2.25 9v.906a2.25 2.25 0 0 0 1.183 1.981l6.478 3.488m8.839 2.51-4.66-2.51m0 0-1.023-.55a2.25 2.25 0 0 0-2.134 0l-1.022.55m0 0-4.661 2.51m16.5 1.615a2.25 2.25 0 0 1-2.25 2.25h-15a2.25 2.25 0 0 1-2.25-2.25V8.844a2.25 2.25 0 0 1 1.183-1.981l7.5-4.039a2.25 2.25 0 0 1 2.134 0l7.5 4.039a2.25 2.25 0 0 1 1.183 1.98V19.5Z"
            />
          </svg>

          <h2>Confirm your email</h2>
          <p>
            Hello <%= name %>, please click on the button below to validate your
            email address and confirm that you are the owner of this account.
          </p>

          <a href="<%= activationUrl %>" class="btn">Confirm your email</a>

          <div class="additional-info">
            <p>This link will expire in 24 hrs.</p>
            <p>If you have questions, we're here to help.</p>
          </div>

          <div class="thanks">
            <span>Thanks</span>
            <p>Team CaseCobra</p>
          </div>
        </div>
      </div>
    </main>
  </body>
</html>
